<div class="cartas-background">
    <div class="main-container">
        <div class="sec-container">
            <section class="cartas">
                <div class="cartas-title">
                    <h2>Nuestras cartas</h2>
                </div>
                <div class="cartas-container">
                  <% @set_menus.each do |menu|%>
                    <div class="carta-container">
                      <%=    link_to [menu] do %>
                        <%= image_tag(menu.image) %>
                        <div class="carta-name">
                          <h4><%= menu.name %></h4>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                  <% @menus.each do |menu|%>
                    <div class="carta-container">
                      <%=    link_to [menu] do %>
                        <%= image_tag(menu.image) %>
                        <div class="carta-name">
                          <h4><%= menu.name %></h4>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
            </section>
        </div>
    </div>
</div>