<div id="all">
  <% @meal_categories.each do |meal_category| %>
    <div class="carta-show-container">
      <div class="carta-show-title">
        <div id="<%=meal_category.name.downcase%>" class='category-selector'>
          <div class="category">
            <h2> <%= meal_category.name %></h2>
          </div>
        </div>                  
        <div class="carta-show-title-decoration">
        </div>
      </div>
      <div class="carta-show-meals">
        <% @meal_vegetarian.each do |current_meal| %>
           <% if meal_category.id == current_meal.meal_category_tag&.meal_category_id %>
            <div class="carta-show-meal">
              <div class="first-line">
                  <div class="meal-title">
                      <h5><%= current_meal.name %></h5>
                  </div>
                  <div class="meal-price">
                      <h5><%= current_meal.price %> €</h5>
                  </div>
              </div>
              <div class="second-line">
                  <div class="meal-allergens">
                      <% current_meal.allergens.each do |allergen| %>
                        <div class="meal-allergens-icon">
                          <%= image_tag(allergen.icon) %>
                        </div>
                      <% end %>
                  </div>
              </div>
            </div>
            <div class="meal-separator">
            </div>
           <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>