<%# ---------------------FIRST SECTION------------------------- %>
<section id="first-section">
    <%= render 'shared/landing_first_section' %>
</section>
<%# ---------------------SECOND SECTION------------------------- %>
<section id="second-section">
    <%= render 'shared/welcome_card' %>
</section>
<%# ---------------------THIRD SECTION------------------------- %>
<section class="third-section">
    <%= render 'shared/third_section_card' %>
</section>
<%# ---------------------FOURTH SECTION------------------------- %>
<section class="fourth-section">
    <%= render 'shared/testimonial_card' %>
</section>
<%# ---------------------FIFTH SECTION------------------------- %>
<section class="fifth-section">
    <%= render 'shared/newsletter' %>
    <%= render 'shared/footer' %>
</section>

<%# ---------------------CMS btns------------------------- %>
<div class="main-container">
    <%#= link_to  'Sign in', new_user_session_path %>
    <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
</div>