<div class="carta-show-container">
    <div class="carta-show-title">
        <h2>Entrantes</h2>
        <div class="carta-show-title-decoration">
        </div>
    </div>
    <div class="carta-show-meals">
        <%= render 'shared/meal' %>
        <div class="meal-separator">
        </div>
        <%= render 'shared/meal' %>
        <div class="meal-separator">
        </div>
        <%= render 'shared/meal' %>
        <div class="meal-separator">
        </div>
        <%= render 'shared/meal' %>
        <div class="meal-separator">
        </div>
        <%= render 'shared/meal' %>
        <div class="meal-separator">
        </div>
        <%= render 'shared/meal' %>
        <div class="meal-separator">
        </div>
        <%= render 'shared/meal' %>
    </div>
</div>