<div class="cartas-background">
  <div class="main-container">
    <div class="sec-container">
      <div class="third-container">
      
        <%= render 'shared/meal/breadcrumbs' %>

        <div class='menu-template' id='all' style='display:block'>
          <%= render 'shared/meal/meal_all' %>
        </div>
        <div class='menu-template' id='vegan' style='display:none'>
          <%= render 'shared/meal/meal_vegan' %>
        </div>
        <div class='menu-template' id='vegetarian' style='display:none'>
          <%= render 'shared/meal/meal_vegetarian' %>
        </div>
        <div class='menu-template' id='glutenfree' style='display:none'>
          <%= render 'shared/meal/meal_glutenfree' %>
        </div>
        <div class='menu-template' id='unlactosed' style='display:none'>
          <%= render 'shared/meal/meal_unlactosed' %>
        </div>

      </div>
    </div>
  </div>
</div>


