<div class="filters">




  <select name="meal_filters" id="meal_filters">
    <option value="all" disabled selected>Filtros</option>
    <option value="all">Todo</option>
    <% @filters. each do |filter| %>
      <option value="<%= filter.filter_title %>"><%= filter.name %></option>
    <% end %>
  </select>
</div>

<div class='menu-template' id='all' style='display:block'>
  <%= render 'shared/meal/meal_all' %>
</div>
<div class='menu-template' id='vegan' style='display:none'>
  <%= render 'shared/meal/meal_vegan' %>
</div>
<div class='menu-template' id='vegetarian' style='display:none'>
  <%= render 'shared/meal/meal_vegetarian' %>
</div>
<div class='menu-template' id='glutenfree' style='display:none'>
  <%= render 'shared/meal/meal_glutenfree' %>
</div>
<div class='menu-template' id='unlactosed' style='display:none'>
  <%= render 'shared/meal/meal_unlactosed' %>
</div>


