<!-- --------------NAVBAR----------------- -->
    <nav>
        <div class="nav-content">
            <div class="back-arrow back-arrow-nav">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="nav-logo">
                <%= link_to root_path do %>
                <img
                    id="logo"
                    src="https://res.cloudinary.com/dqstmox0s/image/upload/v1612256709/Restaurante%20website/Component_517_1_lpj9ag.svg"
                    alt="logo"
                />
                <% end %>           
            </div>
            <div class="nav-elements">
                <div class="nav-responsive">
                    <ul class="nav-links">
                        <li>
                            <%= link_to 'Restaurante', root_path, class: "nav-link nav-font"%>
                        <li>
                            <%= link_to 'Carta', menus_path, class: "nav-link nav-font" %>
                        </li>
                        <li>
                            <%= link_to 'Galería', root_path, class: "nav-link nav-font"%>
                        </li>
                        <li>
                           <%= link_to 'Contacto', bookings_index_path, class: "nav-link nav-font" %>
                        </li>
                    </ul>
                    <div class="nav-sec-elements">
                            <%= link_to(bookings_index_path) do %>
                                <div class="nav-btn">
                                    <p>Reservar</p>
                                </div>
                            <% end %>
                        <div class="language-selector">
                            <p>ES</p>
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                </div>
                <div class="burger-menu">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
        </div>
    </nav>
<!-- --------------NAVBAR----------------- -->