<%=    link_to [@current_restaurante, @current_dashboard] do %>
  <div class="back-arrow back-arrow-page">
    <i class="fas fa-arrow-left"></i>
  </div>
<% end %>

<div class="main-container">
    <div class="sec-container">
        <div class="meal-show-container" style="display:flex; flex-direction: column; justify-content: center">
            <div class="name pt-3 align">
                <%= @meal.name %>
            </div>
            <div class="price pt-5 align">
                <%= @meal.price %> €
            </div>
            <div class="description pt-5 align">
                <%= @meal.description %>
            </div>
            <h5 class="pt-5 align">Allergens:</h5>
            <div class="description pt-5 align">
                <div class="allergens-container">
                    <% @meal&.allergen_tags.each do |allergen_tag|%>           
                    <p class="allergen"> <%= Allergen.find(allergen_tag.allergen_id).name %></p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>